<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, shrink-to-fit=no, user-scalable=no">
    <link rel="stylesheet" href="/static/css/style_admin.css">
    <title>監視カメラシステム（管理者）</title>
</head>
<body>
    <div class="layout">
        <header><h1>監視カメラシステム（管理者）</h1></header>
        <nav>
            <ul>
                <li><a href="/system/cam/admin/">Top</a></li>
                <li><a href="/system/cam/record/">録画データ</a></li>
            </ul>
        </nav>
        <div class="controls">
            <button onclick="stopAllRecordings()">全カメラ録画 停止</button>
            <button onclick="startAllRecordings()">全カメラ録画 開始</button>
        </div>
        <div class="msg">
            
        </div>
        <footer>&nbsp;&nbsp;Copyright&copy;&nbsp;&nbsp;2024&nbsp;&nbsp;株式会社&nbsp;共立電機製作所&nbsp;&nbsp;All&nbsp;rights&nbsp;reserved.</footer>
    </div>
    <script>
        function startAllRecordings() {
            fetch('/stop_all_recordings', { method: 'POST' })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    fetch('/start_all_recordings', { method: 'POST' })
                        .then(response => response.json())
                        .then(data => {
                            console.log(data);
                            // メッセージを表示
                            document.querySelector('.msg').textContent = '全カメラの録画を開始しました．．．';
                        });
                });
        }

        function stopAllRecordings() {
            fetch('/stop_all_recordings', { method: 'POST' })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    // メッセージを表示
                    document.querySelector('.msg').textContent = '全カメラの録画を停止しました．．．';
                });
        }
    </script>
</body>
</html>