<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, shrink-to-fit=no, user-scalable=no">
    <link rel="stylesheet" href="/static/css/style_backup_record.css">
    <title>監視カメラシステム</title>
</head>
<body>
    <div class="layout-record">
        <header><h1>監視カメラシステム</h1></header>
        <nav>
            <ul>
                <li><a href="/system/cam/">Top</a></li>
                <li><a href="/system/cam/backup/">バックアップ録画一覧</a></li>
            </ul>
        </nav>
        <div class="recordings-flex">
            {% for camera_id, files in recordings.items() %}
            <div class="camera-section">
                <div class="camera-header">
                    <h2>{{ camera_names.get(camera_id, 'カメラ ' + camera_id) }}</h2>
                </div>
                {% if files %}
                <table>
                    <thead>
                        <tr>
                            <th>ファイル名</th>
                            <th>録画日時</th>
                            <th>サイズ</th>
                            <th>アクション</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for file in files %}
                        <tr>
                            <td>{{ file.filename }}</td>
                            <td class="date-cell">{{ file.date.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                            <td class="size-cell">{{ '{:.1f}'.format(file.size / 1024 / 1024) }} MB</td>
                            <td>
                                <a href="/system/cam/backup/{{ camera_id }}/{{ file.filename }}" 
                                class="video-link" 
                                target="_blank">再生</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p class="no-recordings">録画ファイルが見つかりません</p>
                {% endif %}
            </div>
            {% endfor %}
            {% if not recordings %}
            <p class="no-recordings">バックアップフォルダにカメラの録画ファイルが見つかりません。</p>
            {% endif %}
        </div>
        <footer>&nbsp;&nbsp;Copyright&copy;&nbsp;&nbsp;2024&nbsp;&nbsp;株式会社&nbsp;共立電機製作所&nbsp;&nbsp;All&nbsp;rights&nbsp;reserved.</footer>
    </div>
</body>
</html>
