<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, shrink-to-fit=no, user-scalable=no">
    <link rel="stylesheet" href="/static/css/style_record.css">
    <title>監視カメラシステム</title>
</head>
<body>
    <div class="layout-record">
        <header><h1>監視カメラシステム</h1></header>
        <nav>
            <ul>
                <li><a href="/system/cam/">Top</a></li>
                <li><a href="/system/cam/record/">録画データ</a></li>
                <li><a href="/system/cam/backup/">バックアップ録画一覧</a></li>
            </ul>
        </nav>
        <div class="recordings-flex">
            {% for camera_id, files in recordings.items() %}
                <div class="camera-section">
                    <div class="camera-info">
                        <div class="camera-id">項番：{{ camera_id }}</div>
                        {% if camera_names and camera_id in camera_names %}
                            <div class="camera-name">場所：{{ camera_names[camera_id] }}</div>
                        {% endif %}
                    </div>
                    <div class="file-names">
                        {% for file in files %}
                            <div class="file-name">
                                <a href="/system/cam/record/{{ camera_id }}/{{ file }}">{{ file }}</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <footer>&nbsp;&nbsp;Copyright&copy;&nbsp;&nbsp;2024&nbsp;&nbsp;株式会社&nbsp;共立電機製作所&nbsp;&nbsp;All&nbsp;rights&nbsp;reserved.</footer>
    </div>
</body>
</html>
